:root{
  --var-primary-color: #000000;
  --var-secondary-color: #2ed8e4;
  --var-blur: blur(80%);
  --var-font: 'Poppins', sans-serif;

}

body{
  margin: 0;
  max-width: 100%;
}

html{
  box-sizing: border-box;
  min-width: 380px;
  scroll-behavior: smooth;
  background-color: black;
}

*,
 *::after,
 ::before{
 box-sizing: border-box;
}
[id]{
  scroll-margin-top: 36ex;
}

.header-content{
  position: sticky;
  top: 0rem;
  z-index: 10000;
}


.nav-bar{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  border: thin solid black;
  height: 3rem;
  background-color: var(--var-primary-color);
}

.nav-item{
  display: flex;
  width: 33%;
  justify-content: space-around;
  align-items: center;
  min-width: 380px;
}

.nav-item-1:hover .nav-anim{
  transform: translateX(0px);
}

.nav-item-2:hover .nav-anim{
  transform: translateX(0px);
}

.nav-item-3:hover .nav-anim{
  transform: translateX(0px);
}

.nav-item-4:hover .nav-anim{
  transform: translateX(0px);
}

.nav-item a{
  text-decoration: none;
   color: #ccc;
   font-weight: bold;
   font-family:sans-serif;
   position: relative;
   overflow: hidden;
  }

.nav-anim{
 position: absolute;
 bottom: 0;
 width: 98%;
 height: .10rem;
 background-color: var(--var-secondary-color);
 transform: translateX(-110px);
 transition: .4s ease-in-out;
}




  /* Fin nav */


.home{
  background-image: url(/imagenes/computer-background.jpg);
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  min-height: 450px;
  position: relative;
}

  .card{
    display: flex;
    width: 70%;
    flex-direction: column;
    margin:auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }

  .card .front{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin:auto;
  width: 100%;
  min-height: 300px;
  margin-top: -2rem;
}

.card-body{
  padding: 0 1rem 1rem 1rem;
  font-family: var(--var-font);
  color: #ccc;
  height: 100vh;
  flex: 1 1 auto;
}

.card .front .front-1{
  margin: 0 auto;
  position: relative;
  left: -200px;
    text-shadow: .2rem .1rem .1rem rgb(0, 0, 0);
}
.card .front .front-2{
  text-shadow: .2rem .1rem .1rem rgb(0, 0, 0);
}

.card .front .front-3{
  margin: 0 auto;
  position: relative;
  left: 155px;
  color: var(--var-secondary-color);
  text-shadow: .2rem .1rem .1rem black;
}

.card .front .front-1 h3{
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: .5rem;
    margin-top: 0;
}
.card .front .front-2 h1{
  font-size: 10rem;
  font-weight: bold;
  line-height: .8;
  margin: auto;
}

.card .front .front-3 h3{
      font-size: 1.3rem;
      font-weight: 600;
}

.card .front-0 img{
 width: 18.75rem;
 border-radius: 50%;
 border: medium solid #2ed8e4;
 margin-bottom: 3rem ;
}

.card .front-0 img:hover{
transform:scale(2 2) ;
}

.card .front-4 img{
 width: 100px;
 padding: 0 1rem ;
 margin-top: 1rem;

}

.card .front-4 img:hover{
 filter: brightness(1.2);
}

/* -----CIERRE HOME-----*/


/* ----RESPONSIVE----- */



@media screen and (max-width: 900px){
  .nav-bar{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border: thin solid black;
  height: 3rem;
  background-color: var(--var-primary-color);
}


.nav-item{
  display: flex;
  width: 70%;
  justify-content: space-evenly;
  padding-top: 1rem;
  padding: 1rem
}



.card .front .front-2 h1{
  font-size: 8rem;
  font-weight: bold;
  line-height: .8;
  margin: auto;
}


.card .front .front-1{
  margin: 0 auto;
  position: relative;
  left: -150px;
}

.card .front .front-3{
  margin: 0 auto;
  position: relative;
  left: 100px;
}

.card .front-0 img{
 width: 270px;
 border-radius: 50%;
 border: medium solid #2ed8e4;
 margin-bottom: 3rem ;
}

}


@media screen and (max-width: 725px){
.card .front .front-2 h1{
  font-size: 6rem;
  font-weight: bold;
  line-height: .8;
  margin: auto;
}

.card .front .front-1 h3{
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: .5rem;
    margin-top: 0;
}

.card .front .front-3 h3{
      font-size: 1rem;
      font-weight: 600;
}

.card .front .front-1{
  margin: 0 auto;
  position: relative;
  left: -100px;
}

.card .front .front-3{
  margin: 0 auto;
  position: relative;
  left: 70px;
}

.card .front-0 img{
 width: 230px;
 border-radius: 50%;
 border: medium solid #2ed8e4;
 margin-bottom: 3rem ;
}
}

@media screen and (max-width: 380px){
.card .front .front-2 h1{
  font-size: 4rem;
  font-weight: bold;
  line-height: .8;
  margin: auto;
  position: relative;
}

.card .front .front-1 h3{
    font-size: .8rem;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: .5rem;
    margin-top: 0;
}

.card .front .front-3 h3{
      font-size: .8rem;
      font-weight: 600;
}

.card .front .front-1{
  margin: 0 auto;
  position: relative;
  left: -60px;
}

.card .front .front-3{
  margin: 0 auto;
  left: -100px;
  position: relative;
  left: 60px;
}
}

@media screen and (max-width: 560px){
.card .front .front-2 h1{
  font-size: 4rem;
  font-weight: bold;
  line-height: .8;
  margin: auto;
  position: relative;
}

.card .front .front-1 h3{
    font-size: .8rem;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: .5rem;
    margin-top: 0;
}

.card .front .front-3 h3{
      font-size: .8rem;
      font-weight: 600;
}

.card .front .front-1{
  margin: 0 auto;
  position: relative;
  left: -60px;
}

.card .front .front-3{
  margin: 0 auto;
  left: -100px;
  position: relative;
  left: 40px;
}
}
/* animaciones */

@keyframes AnimationOne {
  from {
    transform: translateX(0);
  }

  to{
    transform: translateX(30%);
  }
}

.AnimationOne{
  animation-name: AnimationOne;
  animation-duration: 2s;
  animation-delay: 2;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes AnimationTwo {
  from {
    filter: brightness(1); 
  }

  to{
    filter: brightness(1.3);
  }
}

.AnimationThree{
  animation-name: AnimationThree;
  animation-duration: 8s;
  animation-delay: 2s;
  animation-iteration-count: infinite;
  animation-direction: normal;
}

@keyframes AnimationThree {
  from {
    transform: rotate(0deg);
  }

  to{
    transform: rotate(360deg);
  }
}

.AnimationFour{
  animation-name: AnimationFour;
  animation-duration: 8s;
  animation-delay: 3s;
  animation-iteration-count: infinite;
  animation-direction: reverse;
}

@keyframes AnimationFour {
  from {
    transform: rotate(0deg);
  }

  to{
    transform: rotate(360deg);
  }
}

.AnimationColor{
  animation-name: AnimationColor;
  animation-duration: 10s;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: normal;
}

@keyframes AnimationColor {
  0% {
    box-shadow: none;
  }

  50%{
  box-shadow: 0rem 0rem 1rem  #ffffff;
  }

  100%{
    box-shadow: 0rem 0rem 1rem  #2ed8e4;
  }
}

/* PRUEBA */

h1,h2,h3,h4,h5,h6{
  margin: 0;
  padding: 0;
}

.containter-flex{
    border: medium solid aquamarine;
    width: 80%;
    height: 100vh;
    margin:auto;
}


#section-2:target .about-me{
  animation-name: AnimationColor;
  animation-duration: 2s;
  animation-delay: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}




.card-flex{
  display: flex;
  width: 80%;
  min-height: 500px;
  justify-content: space-evenly;
  align-items: flex-start;
  margin: auto;
  margin-top: 10%;
  margin-bottom: 10%;
  background-color: #1d1a1a;
  box-shadow: 0px 0px 10px #ffffff;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.about-me{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 40%;
  height: 80%;
  padding: 4rem;
  color: white;
  font-size: 1.2rem;
  font-family: var(--var-font);
  box-shadow: 1px 1px 1px #ccc;

}
.about-skills{
  display: flex;
  width: 50%;
  padding: .5rem;
  padding-top: 0;
  min-height: 60.5vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4rem;
  color: white;
  font-size: 1.2rem;
  text-align: center;
  font-family: var(--var-font);
  border-top: thin solid white ;
  
}



.about-skills img{
  width: 100px;
}

.about-me img{
    width: 50px;
}


/*PRUEBA NEGREADA*/

.skills-button{
  display: flex;
  width: 100%;
  min-height: 5vh;
  border: 2px;
  margin-bottom: 10%;
  cursor: pointer;
  background-color: var(--var-secondary-color);
  justify-content: center;
  box-shadow: 0px 0px 9px grey;
  overflow: hidden;
}

.skills-button:hover{
  background-color: rgba(47, 216, 228,0.8);
}

.skills-button a{
  text-decoration: none;
  font-family: var(--var-font);
  font-size: 1.5rem;
  color: black;
  align-self: center;
}

.imagenes{
  display: none;
  opacity: 1;
  margin-bottom: 10%;
  width: 100%;
}

#tecnologias:target{
  display: block;
  position: relative;
}

#estudios:target{
  display: block;
  position: relative;
}

.skills-title{
width: 100%;
}

.skills-title img{
margin: 2%;
}

.invert{
  filter: invert(1)
}

.close{
  width: 30px;
  height: 30px;
  background-color: red;
  position: relative;
  display: block
}

.derecha{
  background-color: white;
  width: 100%;
  height: 20%;
  transform-origin: top right;
  transform: rotate(-45deg) translate(-.4rem,-.2rem);
  position: absolute;
}

.izquierda{
  background-color: white;
  width: 100%;
  height: 20%;
   height: 20%;
   transform-origin: top left;
  transform: rotate(45deg) translate(.4rem,-.2rem);
  position: absolute;
}

.close-img{
  position: absolute;
  color: rgba(0, 0, 0, 0);
  left: 3px;
  top: -8px;
  font-weight: 900;
  font-size: 2rem;
}

.close, .derecha, .izquierda:hover{
cursor: pointer;
}

/* FIN DE PRUEBA NEGREADA*/

@media screen and (max-width:1160px){
  .card-flex{
    flex-direction: column;
    align-items: center;
  }

  .about-me{
    width: 90%;
  }

  .about-skills{
    width: 90%;
  }
  
}
@media screen and (max-width:555px){
.about-skills p{
    font-size: 150%;
  }
  .about-skills img{
    width: 50px;
  }

  .skills-button a{
  font-size: 1rem;
  align-items: center;
  }
}

